video {
    position:absolute;
    left:0;
    top:0;
    display: block;
    border: black;
}

#overlayWButton {
	position: absolute;
    top:310px;
    left:20px;
    width:600px;
	z-index: 100;
    visibility: hidden;
}